*{
    margin: 0;
    padding: 0;
    line-height: 22px;
    font-family: "Ubuntu",sans-serif;
}

html{
    box-sizing: border-box;
}

.bg-main{
    background: rgba(0,0,0,.7) url("../img/bg.jpeg");
    background-size: cover;
    background-blend-mode: darken;
}

.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navList{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.logo img{
    width: 5rem;
    height: 5rem;
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 50%;
}

.navList li {
    list-style: none;
}

.navList li a{
    text-decoration: none;
    color: white;
}

.rightNav{
    width: 50%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 9px;
}

.box{
    max-width: 50%;
    height: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.text{
    width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.text-big{
    font-size: 25px;
}

.text-small{
    padding: 2rem 0;
    font-size: smaller;
}

.image img{
    display: block;
    margin:auto;
    width: 12rem;
    height: 12rem;
    border: 2px solid black;
    border-radius: 100%;
}

.btn-sm{
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 8px 20px;
    margin: 7px 3px;
    background: none;
    border: 1px solid white;
    border-radius: 10px;
}

.btn-sm:hover{
    font-size: 16px;
    cursor: pointer;
    background: white;
    color: black;
    transition: all .2s ease;
}

.middle{
    height: 350px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

.left{
    flex-direction: row-reverse;
    margin: 12px auto;
    background-color: rgba(54, 162, 162, 0.216);
}

.right{
    margin: 12px auto;
    background-color: rgba(54, 162, 162, 0.216);
}

.paras{
    padding: 0px 65px;
    max-width: 70%;
}

.sub-footer{
    background-color: rgb(94, 138, 138);
    padding: 50px 50px;
}

.form{
    max-width: 40%;
}

.form input,textarea{
    margin: 10px 0;
    padding: 3px 2px;
    width: 100%;
    font-size: 15px;
    border: 2px solid rgb(112, 112, 112);
    border-radius: 6px;
}

.column{
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.address{
    max-width: 20%;
    font-size: 16px;
}

.add-heading{
    padding: 10px 0;
}

.button{
    color: black;
}

.footer{
    font-size: 14px;
    height: 30px;
    background-color: rgb(63, 140, 140);
    text-align: center;
    text-justify: auto;
}